
$sectionbackground-color: #efeff4;
$accent-color: #1bb14c;
$secondary-color: #12422b;
$reset-color: #c65415;
$heading-color: #1c1c1c;
$text-color: #656565;
$icon-color: #ffffff;
$link-color: #ffffff;
$url :'../img/footer.png';
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
